# General files and data (.csv is synced)
.vscode
*/__pycache__/*
**.DS_Store
**.egg-info
**__pycache__
**.h5
**.out
**.err
**.npz

# Temporaray folders and outputs
temp/*
temp/
outputs/
Manifest.toml
